@use "../styles/variables";

.site-logo {
  position: fixed;
  width: 173.76px;
  height: 36px;
  left: 27px;
  top: 27px;
}
.MuiContainer-root.container {
  display: flex;
  height: 100vh;

  .landing-item {
    // There are two `landing-item`s, The banner and the login form
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      // The banner should only show on larger screen sizes
      display: none;
    }

    .login-container {
      padding-left: 10px;
      padding-right: 10px;

      h1 {
        color: variables.$secondary;
        margin-bottom: 10px;
        font-family: "Avenir Next", sans-serif;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.04em;
      }
      p {
        font-family: "Avenir Next", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: variables.$secondary-light;
        margin-bottom: 60px;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 400px;
        * {
          margin-bottom: 5px;
        }

        .forgot-password {
          align-self: flex-start;
          padding-left: 0;
          font-family: "Avenir Next", sans-serif;
          font-weight: 600;
          font-size: 12px;
          text-align: right;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        [type="submit"] {
          font-family: "Avenir Next", sans-serif;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 19px;
          color: #ffffff;
          padding-top: 15px;
          padding-bottom: 15px;
          margin-top: 30px;
        }

        .MuiOutlinedInput-root {
          font-family: "Avenir Next", sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: variables.$secondary-light;
          border-radius: 5px;

          fieldset {
            border: 2px solid rgba(84, 95, 125, 0.15);
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .site-logo {
    // Reposition site logo on larger screens
    left: 57px;
    top: 66px;
  }

  .MuiContainer-root.container {
    .landing-item {
      &:first-child {
        // The loading banner now shows on larger screens
        display: flex;
      }
      .landing-banner {
        width: 90%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .MuiContainer-root.container {
    max-width: 100%;
    .landing-item {
      .landing-banner {
        width: 80%;
      }
    }
  }
}
