@use "../styles/variables";
// The temporary variant is only displayed on smaller screens
.temporary-drawer {
  display: block;

  & .MuiDrawer-paper {
    box-sizing: border-box;
    width: variables.$drawerWidth;
  }
}
.permanent-drawer {
  // The permanent drawer is displayed on larger screens
  @extend .temporary-drawer;
  display: none;
}

@media (min-width: 600px) {
  .app-drawer {
    width: variables.$drawerWidth;
    flex-shrink: 0;
  }
  .temporary-drawer {
    // The temporary drawer does not display on larger screens
    display: none;
  }
  .permanent-drawer {
    display: block;
  }
}
