@use "../styles/variables";

// A sort icon in which it's property is not sorted by is shown
// in a transparent manner. If property is sorted descending manner
// it is shown completely opaque. If ascending, it is opaque and rotated
.sort-icon {
  opacity: 0.5;
  img {
    transition: transform 300ms;
  }
  &.sorted-desc {
    opacity: 1;
  }
  &.sorted-asc {
    opacity: 1;
    img {
      transform: rotate(180deg);
    }
  }
}

.app-table-wrapper {
  .table-bottom-toolbar {
    // Mobile first... The pagination is shown under the limiter
    // with spaces around both
    flex-direction: column;
    margin-top: 1rem;

    & > * {
      margin-bottom: 0.5rem;
    }
  }
}

// Positioning the modal relative to the table rather than
// the default positioning (relative to the entire viewport)
.app-table-container {
  .MuiModal-root {
    position: absolute;
    .MuiBackdrop-root {
      // Remove the darkened color on the background of modals
      background-color: transparent;
    }
    .MuiBox-root {
      // The modal box itself
      position: absolute;
      top: 43px;
      left: 17px;
      box-shadow: none;
    }
  }
}

.app-table {
  // The app table --> <Table></Table>

  .MuiTableCell-root {
    // Each table cell
    font-family: "Work Sans", sans-serif;
    color: variables.$secondary;

    &.date {
      // Date is shown in a straight line
      white-space: nowrap;
    }

    &.email,
    &.phone-number {
      // The links should display the same color as other cells and
      // should show underline on hover
      a:link,
      a:visited {
        color: inherit;
        text-decoration: none;
      }
      a:hover,
      a:active {
        text-decoration: underline;
      }
    }

    &.status {
      // The status chip which shows different colors
      // for the different "statuses"
      text-transform: capitalize;

      .blacklisted,
      .pending,
      .inactive,
      .active {
        font-family: "Work Sans", sans-serif;
      }
      .blacklisted {
        color: #e4033b;
        background-color: transparentize(#e4033b, 1-0.1);
      }
      .pending {
        color: #e9b200;
        background-color: transparentize($color: #e9b200, $amount: 1-0.1);
      }
      .inactive {
        color: #545f7d;
        background-color: transparentize(#545f7d, 1-0.06);
      }
      .active {
        color: #39cd62;
        background-color: transparentize(#39cd62, 1-0.06);
      }
    }
  }
  th.theader {
    // The header above the table
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 600;
    border-bottom: none;

    &:nth-child(2) {
      // The first header (ORGANIZATION)
      padding-left: 0;
    }
  }
  td {
    font-size: 14px;
  }
  .spacers {
    // Remove the bottom border from all those cells so that the horizontal line
    // at the bottom of each row do not extend the entire table
    border-bottom: none;
  }
  .first-row-cell {
    // First cell of every row asides header (ORGANIZATION)
    padding-left: 0;
  }
}

.extra-actions {
  // Extra actions menu
  .MuiTypography-root {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: variables.$secondary;
    font-style: normal;
  }
}

@media (min-width: 800px) {
  .app-table-container {
    .filter-button-mobile {
      // The filter button shown at the top of the table only shows on
      // smaller devices
      display: none;
    }
  }
}

@media (min-width: 1100px) {
  // The pagination and limiter on larger devices show on opposite sides
  // under the table
  .app-table-wrapper {
    .table-bottom-toolbar {
      justify-content: space-between;
      flex-direction: row;
      margin-top: unset;
      & > * {
        margin-bottom: unset;
      }
    }
  }
}
