@use "../styles/elements";

.button-password {
  font-family: "Avenir Next", sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
