@use "../styles/variables";
$drawerWidth: 283px;

.drawer-components {
  .MuiTypography-root {
    // All the text of the drawer
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
  }
  .MuiListItemButton-root {
    padding-left: 30px;

    &.dashboard-link {
      // The colors that show on the list items normally/when the route is active
      color: variables.$secondary;
      opacity: 0.6;

      &.active {
        opacity: 1;
        border-left: 3px solid variables.$primary;
        background-color: transparentize(variables.$primary, 1 - 0.06);
      }
    }

    .expandable-text {
      // ListItem with details... The text that shows beside the arrow
      color: variables.$secondary;
    }
  }

  .category {
    padding-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545f7d;
  }
}
.MuiListItemButton-root .MuiListItemIcon-root {
  // Without this the "Organization" in `Switch Organization` wraps to next line
  min-width: 25px;
}

.MuiListItemIcon-root.expand-more-icon {
  // Rotate the arrow on `Switch Organization` when the items are expanded
  img {
    transition: transform 300ms;
  }
  &.expanded {
    img {
      transform: rotate(180deg);
    }
  }
}

.collapsible-items-wrapper {
  margin-left: 1rem;
}

.drawer-mobile {
  // The toolbar that contains complements in the menu bar and gradually
  // displays its contents as the screen becomes smaller
  color: variables.$secondary;

  div,
  a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: inherit;
    &:hover {
      background-color: transparentize(rgb(141, 131, 131), 1-0.1);
    }
  }
}

@media (min-width: 910px) {
  .drawer-mobile {
    .notifications-mobile {
      // At this media breakpoint the notifications button shows in the menu bar
      display: none;
    }
  }
}

@media (min-width: 950px) {
  .MuiToolbar-root.drawer-mobile {
    // At this breakpoint both docs link and notifications icon shows in the menu bar
    display: none;
    .documentation-mobile {
      display: none;
    }
  }
}
