@use "../styles/variables";

.filter-form {
  .MuiFormControl-root {
    margin-bottom: 20px;
  }

  .MuiFormLabel-root {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: variables.$secondary;
    margin-bottom: 6px;
  }
  .MuiOutlinedInput-root {
    height: 40px;
    font-family: "Work Sans", sans-serif;
    border-radius: 8px;
    fieldset {
      border-color: transparentize(variables.$secondary-light, 1-0.2);
    }
  }

  .action-buttons {
    display: flex;

    button {
      flex-grow: 1;
      text-transform: capitalize;
      font-family: "Work Sans";
      font-weight: 600;
      font-size: 14px;
      border-radius: 8px;
      &:first-child {
        margin-right: 24px;
      }

      &.reset {
        border: 1px solid variables.$secondary-light;
      }
      &.submit {
        color: white;
        box-shadow: none;
      }
    }
  }
}
