@use "../styles/variables";

.head-logos {
  display: flex;
  align-items: center;
  .hamburger-icon {
    width: 24px;
    height: auto;
  }
}

.MuiPaper-root.MuiAppBar-root.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  z-index: 9999;
  // justify-content: space-between;

  main {
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    > div {
      margin-right: 2rem;
    }
  }
}

@media (min-width: 600px) {
  .head-logos {
    margin-left: 2rem;
    .hamburger-wrapper {
      display: none;
    }
  }

  // .MuiAppBar-root.menu-bar {
  //   width: calc(100% - variables.$drawerWidth);
  //   margin-left: variables.$drawerWidth;
  // }
}
