@use "../styles/variables";

.MuiPagination-root {
  .MuiPaginationItem-previousNext {
    background-color: rgba(33, 63, 125, 0.1);
    color: variables.$secondary;
  }

  .MuiPaginationItem-root:not(.MuiPaginationItem-previousNext) {
    color: transparentize(variables.$secondary, 1-0.6);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;

    &.Mui-selected {
      background-color: unset;
      color: variables.$secondary;
      font-weight: 500;
    }
  }
}
